@charset "UTF-8";

.conteneur {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 10px;
    align-items: start;
}

.formulaire {
    grid-area: 1 / 1 / 2 / 2;
    border: dotted black 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, auto [ row]);
    grid-gap: 10px;
    padding: 10px;
    justify-items: left;
}

label.carte {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: bold;
}

select.carte {
    grid-area: 1 / 2 / 2 / 3;
}

label.noeuds {
    grid-area: 2 / 1 / 3 / 2;
    font-style: italic;
}

input.noeuds {
    grid-area: 2 / 2 / 3 / 3;
}

label.arcs {
    grid-area: 3 / 1 / 4 / 2;
    font-style: italic;
}

input.arcs {
    grid-area: 3 / 2 / 4 / 3;
}

label.type {
    grid-area: 4 / 1 / 5 / 2;
    font-style: italic;
}

input.type {
    grid-area: 4 / 2 / 5 / 3;
}

label.positif {
    grid-area: 5 / 1 / 6 / 2;
    color: lightseagreen;
    font-variant: small-caps;
}

input.positif {
    grid-area: 5 / 2 / 6 / 3;
}

label.négatif {
    grid-area: 6 / 1 / 7 / 2;
    color: lightcoral;
    font-variant: small-caps;
}

input.négatif {
    grid-area: 6 / 2 / 7 / 3;
}

label.origine {
    grid-area: 7 / 1 / 8 / 2;
    font-variant: small-caps;
}

input.origine {
    grid-area: 7 / 2 / 8 / 3;
    background-color: lightcyan;
}

label.destination {
    grid-area: 8 / 1 / 9 / 2;
    font-variant: small-caps;
}

input.destination {
    grid-area: 8 / 2 / 9 / 3;
    background-color: lightblue;
}

button.chemins {
    grid-area: 9 / 2 / 10 / 3;
}

label {
    margin-top: auto;
}

.matrice {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 10px;
}

table,
th {
    border: solid 0.1px black;
}

th {
    background-color: antiquewhite;
    overflow: hidden;
    font-size: 70%;
}

td {
    border: solid 0.1px grey;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td,
th {
    /*
    display: inline-block;
    width: 20px;*/
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

th:first-of-type {
    text-align: left;
}


input[type=text],
input[type=number] {
    display: inline-block;
    width: 100%;
}

/**/

input:focus {
    border-color: rgba(82, 168, 236, 0.75);
}

td.positif {
    background-color: lightseagreen;
}

td.négatif {
    background-color: lightcoral;
}