@charset "UTF-8";

* {
	font-family: "AppleGothic", sans-serif;
}

table {
	border-collapse: collapse;
	border: solid black 2px;
	text-align: left;
}

td, th {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	/* cellules de largeur fixe */
	display: table-cell;
	width: 100px;
}

caption {
	font-weight: bold;
	text-align: left;
}

th {
	font-style: italic;
	background-color: lightgrey;
}

th:first-child, td:first-child {
	width: 400px;
}

th:nth-child(2), td:nth-child(2) {
	width: 200px;
}

.ok {
	background-color: green;
}

.warning {
	background-color: orange;
}

.error {
	background-color: red;
}

p {
	text-align: left;
}