@charset "UTF-8";

#gridContainer {
	display: grid;
	grid-template-columns: [col1] 2fr[col2] 1fr;
	grid-template-rows: repeat(4, auto [ row ]);
	grid-template-areas: "lnom inom" "lquestions iquestions"
		"ltirage itirage" "ok ok";
	grid-gap: 10px;
	padding: 10px;
}

.lnom {
	grid-area: lnom;
}

.inom {
	grid-area: inom;
}

.lquestions {
	grid-area: lquestions;
}

.iquestions {
	grid-area: iquestions;
}

.ltirage {
	grid-area: ltirage;
}

.itirage {
	grid-area: itirage;
}

.ok {
	grid-area: ok;
}

.labels {
	display: block;
	/*
	margin-right: 5px;
	padding: 1px 0px;
	width: 150px;
	min-height: 1px;
	*/
	text-align: right;
}

.inputs {
	display: block;
	justify-self: start;
	margin-right: 5px;
	/*
	padding: 1px 0px;
	width: 150px;
	min-height: 1px;
	text-align: left;
	*/
}

input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}