@charset "UTF-8";

* {
	font-family: "AppleGothic", sans-serif;
}

div, form>p {
	background-color: lightgrey;
}

input[type="text"] {
	font-style: italic;
	font-size: 100%;
}

input[type="submit"], input[type="reset"] {
	font-weight: bold;
	font-size: 100%;
	background-color: lightgreen;
}

input[type="submit"] {
	background-color: lightgreen;
}

input[type="reset"] {
	background-color: lightblue;
}