@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

.error { color: red ; }

select, input { 
    padding: 3px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    border-width: 3px;
    border-collapse: collapse;
    margin: auto;
}


table, tr, td, th {
    border-style: solid;
    background-color: lightgoldenrodyellow;
}

tr, td, th { border-width: 1px; }
th { padding: 3px; }
td { 
    text-align: center; 
    padding: 5px;
}

#datetime-bar {
    font-size: smaller;
    padding: 2px 5px;
}

#datetime-bar p {
    text-align: right;
}

#result {
    margin-top: 50px;
    text-align:initial;
}
