@charset "UTF-8";

/****************/
form {
    width: 60%;
    margin: auto;
    margin-bottom: 5px;
    ;
}

input[type=checkbox]+label {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 120px;
    padding: 0 0 0 5px;
}

input[type=checkbox] {
    display: inline-block;
    width: 10px;
}

fieldset:last-of-type>label {
    padding: 0 5px 0 5px;
}

fieldset:last-of-type>input {
    display: inline-block;
    width: 100px;
}

fieldset:last-of-type>input:nth-of-type(2) {
    width: 20px;
}

/****************/
table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border: solid black 1px;
}

/****************/
#mendeleiev {
    width: 100%;
    max-width: 1200px;
    border-collapse: separate;
    border-spacing: 2px;
    border: 0;
}

#mendeleiev>tr:first-of-type>th {
    width: 3.5%;
}

#mendeleiev td {
    text-align: center;
    color: #808080;
}

#mendeleiev td>span.numéro,
#mendeleiev td>a {
    font-size: large;
}

#mendeleiev td>a {
    font-weight: bold;
}

#mendeleiev td>span.masse {
    font-size: small;
}

#mendeleiev tr:nth-of-type(n+9)>th:first-child {
    text-align: right;
}

#mendeleiev tr:nth-of-type(n+9)>th:first-child>a {
    font-size: small;
}

/****************/
.Métal_alcalin {
    background: #F66;
}

.Métal_alcalino_terreux {
    background: #F6CFA1;
}

.Lanthanide {
    background: #FBF;
}

.Actinide {
    background: #F9C;
}

.Métal_de_transition {
    background: #FFC0C0;
}

.Métal_pauvre {
    background: #CCC;
}

.Métalloïde {
    background: #CC9;
}

.Non_métal {
    background: #A0FFA0;
}

.Halogène {
    background: #FF9;
}

.Gaz_noble {
    background: #C0E8FF;
}

.Non_classé {
    background: #F7F8FF;
}

/****************
.Gaz {
    color: #F00;
}

.Liquide {
    color: #0000cc;
}

.Solide {
    color: #000;
}

/****************/
.Synthétique {
    border: 2px dotted black;
}

.Radioactif {
    border: 2px dashed black;
}


.Primordial {
    border: 2px solid black;
}