@charset "UTF-8";

tr {
    background-color: black;
}

/**/
header {
    margin: auto;
    /*    margin-left: 10px;/**/
    margin-bottom: 20px;
    text-align: center;
}

header,
button,
span,
label {
    background-color: cornsilk;
}

#lancer {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

span,
label {
    display: inline-block;
    height: 15px;
    font-weight: bold;
}

span {
    width: 140px;
    margin-left: 30px;
}

label {
    width: 20px;
}

/**/

table {
    table-layout: fixed;
    /**/
    margin: auto;
    /**/
}

tr {
    margin: 20px;
}

td {
    border: 1px solid white;
    text-align: center;
    color: #ffffff;
    width: 50px;
    height: 50px;
}

footer {
    display: block;
    width: 70%;
    margin: auto;
    /*height: 50px;*/
    /*line-height: 50px;*/
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}